.cart{
   padding: 10rem 5rem;
   font-size: 1.6rem;
}
.h3{
   text-align: center;
   padding-bottom: .5rem;
   margin-bottom: 2rem;
   border-bottom: 1px solid #ddd;
}
.table{
   width: 100%;
}
.table th{
   border-bottom: 1px solid #ddd;
   padding: .5rem 1rem 2rem 1rem;
}
.table th:first-child{

   text-align-last: left;
}
.table .buy{
   width: 15rem;
   padding: .5rem 2rem;
   background: #1b54f2;
   color: #fff;
   text-align: center;
   margin: 1rem auto;
}
