.detail{
    padding: 10rem 5rem; 
    font-size: 1.6rem;
   }
.detail h3{
   border-bottom: 1px solid #ddd;
   padding-bottom: .5rem;
}
.detail .detailWrap{
   margin-top: 3rem;
}
.detail .text{
   border: 1px solid #ddd;
   padding: 5rem;

}
.detail .title{
   border-bottom: 1px solid #ddd;
   padding-bottom: .5rem;
}
.detail .content{
   margin-top: 1rem;
}
