* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: calc(0.42vw + 2px);

}
@media screen and ( max-width:980px) {
  html{

    font-size: calc(0.42vw + 3px);
  }
  
}
@media screen and ( max-width:580px) {
  html{

    font-size: calc(0.42vw + 4px);
  }
  
}
img{
  width: 100%;
  object-fit: cover;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
.userInfo{
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  font-size: 2rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  width: 30rem;
  
}
.userInfo span{
  color: #959595;
  font-size: 2rem;
  padding: .7rem 1rem;
  
}
.userInfo img{
  width: auto;
  height: 100%;
  border-right: 1px solid #ddd;
}
.userInfo .loginSpan{
  color: #959595;
  font-size: 1.2rem;
  cursor: pointer;
}
.userInfo .loginSpan:hover{
  color: #2a2a2a;
}

.top-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  border-bottom: 1px solid #ddd;
}
.top-logo a{
  width: 32rem;
}
.top-logo img{
  width: 100%;
}

/* 글로벌 메뉴 */
.g-menu{
  height: 5rem;
  border-bottom: 1px solid #ddd;
  padding: 0 2rem;
}
.g-menu ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.g-menu ul li{
  margin-left: 2rem;
} 
.g-menu ul li .loginSpan{
  color: #959595;
  font-size: 1.2rem;
  cursor: pointer;
}
.g-menu ul li .loginSpan:hover{
  color: #2a2a2a;
}
.g-menu ul li a{
  color: #959595;
  font-size: 1.2rem;
}
.g-menu ul li a:hover{
  color: #2a2a2a;
}


/* 메뉴 */
.menu{
  height: 7rem;
  border-bottom: 1px solid #ddd;

}
.menu>ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.menu>ul li{
  margin: 1rem;
}
.menu>ul li a{
  font-size: 1.6rem;
  color: #3c3c3c;
}
.menu>ul li a:hover{
  color: #cc6a6a;
}


/* 뉴 */
.new-arrival{
  
  margin-bottom: 10rem;
}
.new-arrival>h2{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}
.new-arrival>p{
  text-align: center;
  color: #9c9c9c;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.new-wrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 5rem auto 0;
}
.new-wrap img{
  width: 100%;
  height: 44rem;
  object-fit: fill;

}
.new-wrap .new-card{
  width: 32%;
  
  
}
.new-wrap .new-card .card-box{
  padding: 1rem 0;
}
.new-wrap .new-card .card-box .title{
  font-size: 1.8rem;
  margin-bottom: 2rem;
  height: 4.5rem;
}
.new-wrap .new-card .card-box .price{
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #e46060;
  text-align: right;
}
.new-wrap .new-card .card-box .description{
  font-size: 1.4rem;
  line-height: 180%;
}





/* 노티스 */
.notice-item{}
.notice-item td{
  text-align: center;
  border: 1px solid #ddd;
  padding: .5rem;
}
.notice-item td button{
  border: none;
  padding: .5rem 2rem;
}





/* 푸터 */
.footer{
  width: 100%;
  height: 40rem;
  border-top: 1px solid #ddd;
}
.footer .footer-inner{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 0;
}
.footer .footer-inner>ul{
  display: flex;
  justify-content: space-between;
}

.footer .footer-inner>ul>li:not(:last-child){
  border-right: 1px solid #ddd;
  padding-right: 10rem;
}

.footer .footer-inner>ul>li>h4{
  font-size: 1.6rem;
  color: #3b3b3b;
  /* margin-bottom: 20px; */
  margin-bottom: 2rem
}

.footer .footer-inner>ul>li>ul li{
  font-size: 1.6rem;
  line-height: 150%;
}
.footer .footer-inner>ul>li>ul li a{
  font-size: 1.4rem;
  color: #9e9e9e;
}
.footer .footer-inner>ul>li>ul li span{
  font-size: 1.2rem;
}
.footer .footer-inner>ul>li>p{
  margin-bottom: 2rem;
}


/* 카트 */
.cart{display: flex;}
.minus{
  cursor: pointer; display: inline-block; width: 2rem; height: 2rem; text-align: center; border: 1px solid #ddd;
}
.number{text-align: center;}
.plus{
  cursor: pointer; display: inline-block; width: 2rem; height: 2rem; text-align: center; border: 1px solid #ddd;
}
.btnStyle2{
  border: none;
   width: 20rem;
   /* padding: 0 2rem; */
   height: 5rem;
   cursor: pointer;
}
.cartBtn{
  background: #fff;
   transition: .3s;
   margin-right: 2rem;
   border: 1px solid #000;
}
.buy{
  background: #b44040;
   color: #fff;
   transition: .3s;
}

.cartList{ }
.cartList tr{}
.cartList tr td{border-bottom: 1px solid #ddd; padding: 2rem 0;}
.cartList tr td input{}
.cartList tr td span{}
.cartList tr td span img{ width: 5rem; height: 5rem; vertical-align: middle;}
.cartList tr td strong{margin-left: 1rem;}


/* 조인 */
.signWrap ul {
  list-style: none;
}

.signWrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.signWrap .flexBox {
  display: flex;
  align-items: center;
  height: 3.6rem;
}

.signWrap .signUpArea {
  padding: 1rem 5rem 5rem 5rem;
  border: none;
  margin: 0 auto;
  max-width: 1000px;
}

.signWrap .signUpArea .label-style {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.0rem;
}

.signWrap .signUpArea .input-style {
  width: 35rem;
  height: 3.6rem;
  border: 1px solid #ddd;
  margin-right: .5rem;
  padding: .3rem 1rem;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.signWrap .signUpArea .input-style2 {
  height: 3.6rem;
  border: 1px solid #ddd;
  width: 24.1rem;
  font-size: 1.3rem;
}

.signWrap .signUpArea .btn-style {
  width: 20%;
  height: 3.6rem;
  background: #fff;
  border: 1px solid #ddd;
  color: #959595;
  box-sizing: border-box;
}

.signWrap .signUpArea .submit-style {
  width: 100%;
  height: 5.0rem;
  background: #644b36;
  color: #fff;
  font-size: 1.5rem;
  border: none;
}

.signWrap .signUpArea .select-style {
  width: 10.0rem;
  height: 3.6rem;
  border: 1px solid #ddd;
}

.signWrap .signUpArea .help-style {
  margin-top: .5rem;
  display: block;
  font-size: .8rem;
  color: #959595;
  letter-spacing: 1px;
}

.signWrap .signUpArea .area-style {
  padding-left: 2rem;
  padding-bottom: 20px;
}

.signWrap .signUpArea .Mes-style {
  display: block;
}

.signWrap .signUpArea .btn-style:hover {
  color: #000;
}

.signWrap .signUpArea .termsBox {
  height: 15.0rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 2.0rem;
  border: 1px solid #959595;
  margin: 1.0rem 0 2.0rem;
}

.signWrap .signUpArea .termsBox::-webkit-scrollbar {
  display: none;
}

.signWrap .signUpArea .terms-section h3 {
  margin-top: 30px;
}

.signWrap .submit-section {
  display: flex;
  justify-content: center;
}
