img{
   width: 100%;
   object-fit: cover;
}
.swiper-pagination-bullet-active{
   background: #b15555b0 !important;
   opacity: .8;
 }
.swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: 12px !important;
}
.swiper-pagination-bullet{
   width: .8rem !important;
   height: .8rem !important;
}