.signForm{
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding: 2rem 5rem;
}
.signForm input{
   padding: 1.5rem 1rem;
   margin-bottom: 1rem;
}
.signForm button{
   border: none;
   background: beige;
   color: #000;
   padding: 2rem;
   cursor: pointer;
}